#logo {
   background: url(googlelogo.png) no-repeat center center;
   height: 400px;
   width: auto;
}
.navbar {
   list-style-type: none;
}

li {
   display: inline;
}

.rightnav {
   float: right;
}

.footerright {
   float: right;
}

#searchbuttons, form {
   text-align: center;
}