/* whole webpage */

html {
   font-family: Arial, sans-serif;
}




/* Top of page */

.navbar {
   list-style-type: none;
   color:rgba(0, 0, 0, 0.75);
   font-size: 13px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 1px;
}

.rightnav {
   float: right;
   padding-left: 15px;
}

.navtext {
   padding-left: 12px;
}

img {
   height: 28px;
   width: auto;
   padding: 0px;
   position: relative;
   top: -5px;
}

#signinbutton {
   border: 1px solid #4285f4;
   background-color: #4387fd;
   font-weight: bold;
   color: white;
   border-radius: 2px;
   padding: 6px 13px;
   position: relative;
   top: -6px;
}





/* Middle of page */

#searchbuttons, form {
   text-align: center;
   position: relative;
   top: -130px;
}

input {
   background-color: white;
   display: flex;
   border: 1px solid #dfe1e5;
   border-radius: 24px;
   margin: 0 auto;
   height: 44px;
   width: 500px;
}

#searchicon {
   position: relative;
   top: -37px;
   left: -230px;
}

.button {
   background-color: #f8f9fa;
   border: 1px solid #f8f9fa;
   border-radius: 4px;
   color: #3c4043;
   font-size: 14px;
   font-size: 14px;
   margin: 11px 4px;
   padding: 0 16px;
   line-height: 27px;
   height: 36px;
   min-width: 54px;
   text-align: center;
   position: relative;
   top: -17px;
}

#logo {
   background: url(googlelogo.png) no-repeat center center;
   height: 400px;
   width: auto;
}





/* Bottom of page */

footer {
   background-color: #f2f2f2;
   border-top: 1px solid #dadce0;
   bottom: -15px;
   padding-bottom: 0px;
   left: 0;
   right: 0;
   position: absolute;
}

.footertext {
   color:#70757a;
   list-style-type: none;
   font-size: 14px;
   padding-left: 15px;
}

.footerright {
   float: right;
}

li {
   display: inline;
}

.uk {
   font-size: 15px;
   color: rgb(0, 0, 0, .54);
}

#uknav {
   border-bottom: 1px solid #dadce0;
   padding-bottom: 10px;
   position: relative;
   top: -6px;
   left: -10px;
}

a {
   text-decoration: none;
   list-style-type: none;
}

#bottomrow {
   position: relative;
   bottom: 0;
   top: -10px;
   left: -30px;
}












